body {
	background-color: #F3F3F3;
	min-height: 1400px;
}

#pageHeader {
	background-color: #003D80;
	margin-bottom: 0px;
	border-bottom: 1px solid #003D80;
}

#pageHeader img {
	height: 50px;
	width: 300px;
}

#pageHeader .icon-bar {
	background-color: #FFFFFF;
}

/*Register link*/
#pageHeader ul .btn-default {
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#pageHeader ul .btn-default:hover, #pageHeader ul .btn-primary:hover {
	opacity: 1;
}

/*Login link*/
#pageHeader ul .btn-primary {
	color: #FFFFFF;
	background-color: #3399FF;
	opacity: 0.95;
	border: 1px solid #2E8AE6;
}

/*Rounded corners only for menu button*/
#pageHeader a, #pageHeader #defaultUserOptions button {
	border-radius: 0px;
}

#xsNEDropdown {
	color: #FFFFFF;
}

#siteNavigation {
	background-color: #0052CC;
}

#siteNavigation a {
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
}

#siteNavigation .col-md-3 {
	border: 1px solid #004AB8;
	border-top: 1px solid #0052CC;
}

#siteNavigation .col-md-3:hover {
	background-color: #1963D1;
}

#homepageBanner {
	background-color: #000000;
}

/*Use gradient to compensate for dichotomy in banners*/
#watchPageBanner {
	background: linear-gradient(to right, #140A00, #CCB280);
}

#penPageBanner {
	background: linear-gradient(to right, #000000, #B1A08C);
}

#programmingPageBanner {
	background: linear-gradient(to right, #000019, #AAE9FF);
}

#academiaPageBanner {
	background: linear-gradient(to right, #DDF6FF, #297ACC);
}

#homepageCarouselContainer {
	background-color: #D2D2D2;
}

#activityStatistics {
	background-color: #5A5A5A;
	color: #FFFFFF;
	border-radius: 0px;
	border: 1px solid #4D4D4D;
	margin-bottom: 0px;
}

#activityStatistics ul .btn-primary {
	color: #FFFFFF;
	background-color: #3399FF;
	opacity: 0.95;
	border: 1px solid #2E8AE6;
	white-space: normal;
}

#activityStatistics ul .btn-primary:hover {
	opacity: 1;
}

#showThreadsHeader {
	color: #FFFFFF;
	background-color: #909090;
	white-space: normal;
	border: 1px solid #727272;
}

.showThreadInfo {
	background-color: #E8E8E8;
	border-bottom: 1px solid #909090;
	border-right: 1px solid #909090;
	border-left: 1px solid #909090;
}

.showThreadInfo:hover {
	background-color: #ECECEC;
}

.showThreadInfo div {
	word-wrap: break-word;
}

/*Do not let anything on thread page overflow*/
#showThread {
	word-wrap: break-word;
}

#showThreadTitle {
	border: 1px solid #4082E6;
	background-color: #4791FF;
}

.onePost {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
}

.showAuthor {
}

.editLinkContainer {
	float: right;
}

.editLinkContainer p {
	display: inline;
}

/*
.noDecoration {
	text-decoration: none;
}

.alignCenter {
	text-align: center;
}

#headerDiv {
	height: 60px;
	background-color: #003D80;
	margin: -8px -8px 0px -8px;
	min-width: 1610px;
	overflow: show;
	width: 100.7%;
}

#logoDiv {
	position: absolute;
	width: 360px;
	height: 60px;
	background-image: url("/static/images/logo.jpg");
	background-size: 360px 60px;
	margin-left: 30px;
}

#headerDiv a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 20px;
}

#loginDiv {
	border-radius: 5px;
	background-color: #8585AD;
	width: 120px;
	height: 40px;
	margin-top: 10px;
	margin-right: 40px;
	float: right;
}

#loginDiv:hover {
	pointer: default;
	cursor: default;
}

#loginText {
	width: 120px;
	position: absolute;
	margin-left: 30px;
	margin-top: 6px;
}

#registerDiv {
	border-radius: 5px;
	background-color: #8585AD;
	width: 120px;
	height: 40px;
	margin-top: 10px;
	margin-right: 20px;
	float: right;
}

#registerDiv:hover {
	opacity: 0.9;
}

#registerText {
	width: 120px;
	position: absolute;
	margin-left: 20px;
	margin-top: 6px;
}

#mainDiv {
	width: 1600px;
	min-height: 1000px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#contentDiv {
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 1540px;
	min-height: 1000px;
}

#featuredPost {
	position: relative;
	width: 700px;
	height: 400px;
	border: 2px solid #0052CC;
	float: right;
	margin-top: -404px;
	overflow: hidden;
}

#featuredPost h4 {
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 0px;
	background-color: #0052CC;
	text-align: center;
}

.homepageIcon:hover {
	opacity: 0.9;
}

#navBar {
	height: 30px;
	width: 1600px;
	background-color: #0052CC;
	position: absolute;
	z-index: 2;
	overflow: hidden;
}

#navBar a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
}

#navBar a:hover, #navBar a:focus {
	color: #000000;
}

#navBar a:nth-child(1) {
	position: relative;
	margin-left: 100px;
}

#navBar a:nth-child(2) {
	margin-left: 260px;
}

#navBar a:nth-child(3) {
	margin-left: 280px;
}

#navBar a:nth-child(4) {
	margin-left: 270px;
	position: relative;
	overflow: hidden;
}

#imageSlider {
	position: relative;
	margin-top: 10px;
	height: 400px;
	width: 800px;
	border: 2px solid #CCCCFF;
	overflow: hidden;
}

#moveLeft {
	position: absolute;
	background-color: #CCCCFF;
	width: 20px;
	height: 60px;
	margin-top: -240px;
	opacity: 0.4;
	border-radius: 5px;
	text-align: center;
}

#moveRight {
	position: absolute;
	background-color: #CCCCFF;
	width: 20px;
	height: 60px;
	margin-top: -240px;
	margin-left: 782px;
	opacity: 0.4;
	border-radius: 5px;
}

#moveLeft p {
	position: absolute;
	margin-left: 4px;
}

#moveRight p {
	position: absolute;
	margin-left: 4px;
}

#homepagePhoto {
	position: relative;
	width: 1600px;
	height: 500px;
	margin-left: -30px;
	z-index: 1;
	background-image: url("/static/images/montblanc5.png");
}

#watchPagePhoto {
	position: relative;
	width: 1600px;
	height: 500px;
	margin-left: -30px;
	z-index: 1;
	background-image: url("/static/images/watch.jpg");
}

#penPagePhoto {
	position: relative;
	width: 1600px;
	height: 500px;
	margin-left: -30px;
	z-index: 1;
	background-image: url("/static/images/omas.jpg");
}

#programmingPagePhoto {
	position: relative;
	width: 1600px;
	height: 500px;
	margin-left: -30px;
	z-index: 1;
	background-image: url("/static/images/binary.jpg");
}

#academiaPagePhoto {
	position: relative;
	width: 1600px;
	height: 500px;
	margin-left: -30px;
	z-index: 1;
	background-image: url("/static/images/glassceiling.jpg");
}

#loginForm {
	margin-top: 55px;
	width: 300px;
	height: 230px;
	background-color: #8585AD;
	z-index: 9999;
	position: relative;
	float: right;
	margin-right: -260px;
}

#loginForm button {
	margin-left: 120px;
	color: #FFFFFF;
	background-color: #0066FF;
	border: 5px solid #0066FF;
	border-radius: 5px;
}

#loginForm p {
	text-align: center;
}

#showUsername {
	font-size: 20px;
	color: #FFFFFF;
	float: right;
	margin-top: 30px;
}

#userControlPanel {
	position: relative;
	margin-top: -1px;
	float: right;
	background-color: #8585AD;
	width: 300px;
	height: 70px;
	z-index: 9999;
}

#userControlPanel a {
	margin-left: 10px;
}

#userControlPanel a:hover {
	color: #000000;
}

#registrationDiv {
	min-height: 700px;
	margin-top: -21.2px;
	position: relative;
	background-color: #CCCCFF;
	border-bottom: 30px solid #CCCCFF;
}

#registrationDiv h4 {
	margin-left: 720px;
}

#registrationForm button {
	color: #FFFFFF;
	background-color: #0066FF;
	border: 5px solid #0066FF;
	border-radius: 5px;
	margin-left: 770px;
}

#registrationForm button:hover {
	cursor: hand;
	cursor: pointer;
}

#registrationForm p {
	float: right;
}

#registrationForm {
	height: 500px;
}

#topContainer {
	position: relative;
	margin-right: 15px;
	width: 0px;
	float: right;
}

#registerFormContainer {
	width: 28%;
	height: 400px;
	margin-left: 470px;
}

#usernameError {	
	color: #FF0000;
	width: 280px;
	height: 20px;
	margin-left: 760px;
	margin-top: -385px;
}

#emailError {
	color: #FF0000;
	width: 280px;
	height: 20px;
	margin-left: 699px;
	margin-top: 200px;
}

.newestThreads {
	position: relative;
	width: 1540px;
	background-color: #F3F3F3;
	font-size: 18px;
	overflow: hidden;
}

.threadLink {
	height: 30px;
	width: 1540px;
	position: relative;
	border-bottom: 1px solid #000000;
}

.threadLink:hover {
	background-color: #FFFFFF;
}

#threadStats {
	width: 1540px;
	height: 30px;
	background-color: #707070;
}

#showAuthor {
	height: 30px;
	width: 150px;
	display: inline-block;
	color: #FFFFFF;
	font-size: 20px;
}

#showTitle {
	height: 30px;
	width: 1170px;
	display: inline-block;
	color: #FFFFFF;
	font-size: 20px;
}

#showViews {
	height: 30px;
	width: 100px;
	display: inline-block;
	color: #FFFFFF;
	font-size: 20px;
}

#showReplies {
	height: 30px;
	width: 100px;
	display: inline-block;
	font-size: 20px;
	color: #FFFFFF;
}

.showAuthorInfo {
	height: 32px;
	width: 150px;
	overflow: hidden;
	display: inline-block;
}

.showTitleInfo {
	height: 32px;
	width: 1170px;
	display: inline-block;
	overflow: hidden;
}

.showTitleInfo a {
	text-decoration: none;
	color: #000000;
}

.showTitleInfo a:hover {
	text-decoration: underline;
}

.showViewsInfo {
	height: 32px;
	width: 100px;
	display: inline-block;
	overflow: hidden;
}

.showRepliesInfo {
	height: 32px;
	width: 100px;
	display: inline-block;
	overflow: hidden;
}

#sectionMenu {
	width: 1540px;
	height: 40px;
	background-color: #5A5A5A;
}

#newThread {
	background-color: #478FB2;
	height: 40px;
	width: 150px;
	font-size: 18px;
	text-align: center;
	float: right;
}

#newThread:hover {
	opacity: 0.9;
}

#sectionMenu a {
	text-decoration: none;
	color: #FFFFFF;
}

#sectionMenu p {
	margin-top: 0px;
	font-size: 20px;
	display: inline-block;
	padding-top: 10px;
}

#newThread p {
	margin-top: 0px;
	padding-top: 5px;
	display: inline-block;
}

.filler {
	margin-top: 0px;
}

#newThreadDiv p {
	width: 0px;
	background-color: red;
}

#newThreadForm button {
	color: #FFFFFF;
	background-color: #0066FF;
	border: 5px solid #0066FF;
	border-radius: 5px;
	margin-left: 770px;
}

#newThreadForm button:hover {
	cursor: pointer;
	cursor: hand;
}

.showThreadReply {
	width: 1540px;
	height: 200px;
	background-color: red;
	margin-bottom: 10px;
}

.bigShowAuthorInfo {
	height: 200px;
	background-color: #D2D2D2;
	width: 200px;
	display: inline-block;
}

.showReply {
	height: 200px;
	background-color: #F3F3F3;
	width: 1340px;
	display: inline-block;
	float: right;
	position: absolute;
	overflow-y: auto;
	resize: both;
}

.showReply p {
	margin: 10px 10px 10px 10px;
}

#newPostForm p {
	width: 0px;
}

#newPostForm button {
	color: #FFFFFF;
	background-color: #0066FF;
	border: 5px solid #0066FF;
	border-radius: 5px;
	margin-left: 770px;
}

#newPostForm button:hover {
	cursor: pointer;
	cursor: hand;
}

.editPost {
	float: right;
	background-color: #8585AD;
	color: #FFFFFF;
	width: 80px;
	text-align: center;
}

.editContainer {
	width: 100px;
	height: 30px;
	float: right;
}

.editPost a div {
	color: #FFFFFF;
}

.editPost a {
	text-decoration: none;
}

#showMoreThreads {
	background-color: #478FB2;
	width: 140px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
}

#changePassword {
	color: #FFFFFF;
	background-color: #0066FF;
	border: 5px solid #0066FF;
	border-radius: 5px;
	cursor: pointer;
	cursor: hand;
	text-align: center;
	width: 220px;
}

#changePassword:hover {
	opacity: 0.9;
}*/