{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
		<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/> 
		<title>EXIGENCE</title>
	</head>
	<body>
		<!--Navbar for logo and user control panel-->
		<nav id="pageHeader" class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="pull-left"><img src="{% static "images/logo.jpg" %}"></a>
					<button type="button" data-target="#defaultUserOptions" data-toggle="collapse" class="navbar-toggle">
						<span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
					</button>
				</div>
				<div id="defaultUserOptions" class="collapse navbar-collapse">
						{% if user.is_authenticated %}
							<!--Dropdown for sm+ screens-->
							<div class="dropdown navbar-right hidden-xs">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ user.username }} <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="{% url "mainpage.views.show_user" pk=user.pk %}">Account Settings</a></li>
									<li><a href="{% url "mainpage.views.logout_user" %}">Logout</a></li>
								</ul>
							</div>
							<!--Dropdown for xs screens-->
							<ul class="nav navbar-nav hidden-sm hidden-md hidden-lg" id="xsNEDropdown">
								<li>{{ user.username }}</li>
								<li><a href="{% url "mainpage.views.show_user" pk=user.pk %}" class="btn btn-default">Account Settings</a></li>
								<li><a href="{% url "mainpage.views.logout_user" %}" class="btn btn-primary">Logout</a></li>
								<!--
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ user.username }} <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="{% url "mainpage.views.show_user" pk=user.pk %}">Account Settings</a></li>
									<li><a href="{% url "mainpage.views.logout_user" %}">Logout</a></li>
								</ul>-->
							</ul>
						{% else %}
							<ul class="nav navbar-nav navbar-right">
								<li><a href="{% url "mainpage.views.register_page" %}" class="btn btn-default" role="button">Register</a></li>
								<li><a href="{% url "mainpage.views.login_page" %}" class="btn btn-primary" role="button">Login</a></li>
							</ul>
						{% endif %}
				</div>
			</div>
		</nav>

		<!--Faux navbar for site sections-->
		<div id ="siteNavigation" class="container-fluid">
			<div class="row">
				<a href="{% url "mainpage.views.watch_page" %}">
					<div class="col-md-3 col-sm-6">
						Mechanical Watches
					</div>
				</a>
				<a href="{% url "mainpage.views.pen_page" %}">
					<div class="col-md-3 col-sm-6">
						Fountain Pens
					</div>
				</a>
				<a href="{% url "mainpage.views.programming_page" %}">
					<div class="col-md-3 col-sm-6">
						Programming
					</div>
				</a>
				<a href="{% url "mainpage.views.academia_page" %}">
					<div class="col-md-3 col-sm-6">
						Academia
					</div>
				</a>
			</div>
		</div>

		{% block content %}
		{% endblock content %}
		
		<script type="text/javascript" src="{% static "javascript/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/script.js" %}"></script>
	</body>
</html>
