{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<h2>Change Password</h2>
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="form-group">
			<label class="control-label" for="inputPassword">New Password</label>
			<input type="password" class="form-control" id="inputPassword" name="new_password" placeholder="New Password">
		</div>
		<button type="submit" class="save btn btn-default btn btn-primary center-block" name="user_register">Submit</button>
	</form>
</div>

<!--<h2> Change Password </h2>

<form id = "registrationForm" method = "POST" class = "post-form"> {% csrf_token %}
	<div id = "registerFormContainer"> {{ password_form.as_p }} </div>
	<button type = "submit" class = "save btn btn-default" name = "user_register"> Submit </button>
</form>-->

{% endblock content %}