{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<!--Show post body as it was when user clicked edit button-->
<div class="container">
	<h2>Edit</h2>
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="form-group">
			<label class="control-label" for="inputBody">Body</label>
			<textarea class="form-control" rows="8" id="inputBody" name="body">{{ post.body }}</textarea>
			{% if empty_form %}<span class="help-block">Reply can't be empty</span>{% endif %}
		</div>
		<button type="submit" class="save btn btn-default btn btn-primary center-block" name="post_form">Submit</button>
	</form>
</div>

<!--<div id = "newThreadDiv">
	<h2>  Edit </h2>
	<form id = "newThreadForm" method = "POST" class = "post-form"> {% csrf_token %}
		{{ edit_post_form.as_p }}
		<button type = "submit" class = "save btn btn-default" name = "post_form"> Submit </button>
	</form>
</div>-->

{% endblock content %}