{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<!--Put image with black background in fluid container with black background-->
<div class="container-fluid" id="homepageBanner">
	<div class="row">
		<div class="col-xs-12">
			<img class="img-responsive center-block" src="{% static "images/montblanc6.png" %}">
		</div>
	</div>
</div>

<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>

<div id="homepageCarouselContainer">
	<div class="container">
			<div id="homepageCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#homepageCarousel" data-slide-to="1"></li>
					<li data-target="#homepageCarousel" data-slide-to="2"></li>
					<li data-target="#homepageCarousel" data-slide-to="3"></li>
				</ol>
			<div>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="{% static "images/rolex.jpg" %}" height="600" width="800">
				</div>
				<div class="item">
					<img src="{% static "images/pelikan.jpg" %}">
				</div>
				<div class="item">
					<img src="{% static "images/debian.jpg" %}">
				</div>
				<div class="item">
					<img src="{% static "images/ceiling.jpg" %}">
				</div>
			</div>
			<a class="left carousel-control" href="#homepageCarousel" role="button" data-slide="prev">
	      		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	      		<span class="sr-only">Previous</span>
	    	</a>
	    	<a class="right carousel-control" href="#homepageCarousel" role="button" data-slide="next">
	      		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      		<span class="sr-only">Next</span>
	    	</a>
	</div>
</div>

{% endblock content %}