{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="form-group">
			<label class="control-label" for="inputUsername">Username</label>
			<input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
			{% if invalid_login %}<span class="help-block">Invalid login credentials</span>{% endif %}
		</div>
		<button type="submit" class="save btn btn-default btn btn-primary center-block" name="user_login">Log in</button>
	</form>
</div>

{% endblock content %}