{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<h2>New Thread</h2>
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="form-group">
			<label class="control-label" for="inputTitle">Title</label>
			<input type="text" class="form-control" id="inputTitle" name="title" placeholder="Title">
		</div>
		<div class="form-group">
			<label class="control-label" for="inputBody">Body</label>
			<textarea class="form-control" rows="8" id="inputBody" name="body"></textarea>
		</div>
		<button type="submit" class="save btn btn-default btn btn-primary center-block" name="post_form">Submit</button>
	</form>
</div>


<!--<div id = "newThreadDiv">
	<h2> New Thread </h2>
	<form id = "newThreadForm" method = "POST" class = "post-form"> {% csrf_token %}
		{{ thread_form.as_p }}
		{{ post_form.as_p }}
		<button type = "submit" class = "save btn btn-default" name = "post_form"> Submit </button>
	</form>
</div>-->

{% endblock content %}