{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="form-group">
			<label class="control-label" for="inputUsername">Username</label>
			<input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="inputFirstName">First Name</label>
			<input type="text" class="form-control" id="inputFirstName" name="first_name" placeholder="First Name">
		</div>
		<div class="form-group">
			<label for="inputLastName">Last Name</label>
			<input type="text" class="form-control" id="inputLastName" name="last_name" placeholder="Last Name">
		</div>
		<div class="form-group">
			<label for="inputEmail">Email</label>
			<input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
			{% if bad_form %}<span class="help-block">Bad form</span>{% endif %}
		</div>
		<button type="submit" class="save btn btn-default btn btn-primary center-block" name="user_register">Register</button>
	</form>
</div>

{% endblock content %}