{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container" id="showThread">
	<div class="row">
		<div class="col-xs-12" id="showThreadTitle"><h2>{{ thread.title }}</h2></div>
	</div>
	{% for reply in thread.replies.all %}
		<div class="row onePost">
			<div class="col-sm-2 showAuthor">
				<a href="{% url "mainpage.views.show_user" pk=reply.author.pk %}">{{ reply.author }}</a>
			</div>
			<div class="col-sm-10 showPost">
				{% if user.username == reply.author.user.username %}<div class="editLinkContainer"><a href="{% url "mainpage.views.edit_post" pk=reply.pk %}"><span class="glyphicon glyphicon-pencil"></span> <p class="hidden-xs">Edit</p></a></div>{% endif %}
				{{ reply.body|linebreaks }}
			</div>
		</div>
	{% endfor %}
</div>

{% if user.is_authenticated %}
	<div class="container">
		<h4>Post a reply</h4>
		<div class="row">
			<form method="POST" class="post-form">{% csrf_token %}
				<div class="form-group">
					<label class="control-label" for="inputBody">Body</label>
					<textarea class="form-control" rows="8" id="inputBody" name="body"></textarea>
				</div>
				<button type="submit" class="save btn btn-default btn btn-primary center-block" name="post_form">Submit</button>
			</form>
		</div>
	</div>
{% endif %}

<!--
<h2> {{ thread.title }} </h2>

{% for reply in thread.replies.all %}
	<div class = "showThreadReply">
		<div class = "bigShowAuthorInfo"> <a href = "{% url "mainpage.views.show_user" pk=reply.author.pk %}"> {{ reply.author }} </a> </div>
		<div class = "showReply"> {% if user.username == reply.author.user.username %} <div class = "editContainer"> <div class = "editPost"> <a href = "{% url "mainpage.views.edit_post" pk=reply.pk %}"> <div> Edit </div> </a> </div> </div> {% endif %} <p> {{ reply.body|linebreaks }} </p> </div>
	</div>
{% endfor %}
{% if user.is_authenticated %}
	<form id = "newPostForm" method = "POST" class = "post-form"> {% csrf_token %}
		<h4> Post a response </h4>
		{{ post_form.as_p }}
		<button type = "submit" class = "save btn btn-default" name = "post_form"> Submit </button>
	</form>
{% endif %}-->

{% endblock content %}