{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12"><h2>{{ current_user.user.username}}</h2></div>
	</div>
	{% if user.pk == current_user.pk %}
		<div class="row">
			<div class="col-xs-12">
				<a href="{% url "mainpage.views.change_password" pk=current_user.pk %}" class="btn btn-primary">Change Password</a>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-xs-12">
			<p>First name: {{ current_user.user.first_name }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>Last name: {{ current_user.user.last_name }}</p>
		</div>
	</div>
</div>

<!--<h2> {{ current_user.user.username }} </h2>
{% if user.pk == current_user.pk %} <a class = "noDecoration" href = "{% url "mainpage.views.change_password" pk=current_user.pk %}"> <div id = "changePassword"> Change Password </div> </a> {% endif %}
<p> First name: {{ current_user.user.first_name }} </p>
<p> Last name: {{ current_user.user.last_name }} </p>-->

{% endblock content %}