{% extends "mainpage/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid" id="watchPageBanner">
	<div class="row">
		<div class="col-xs-12">
			<img class="img-responsive center-block" src="{% static "images/watch.jpg" %}">
		</div>
	</div>
</div>

<nav class="navbar navbar-default" id="activityStatistics">
	<div class="container-fluid">
		<div class="col-xs-8">
			Threads: {{ num_threads }}<br>
			Posts: {{ num_posts }}
		</div>
		{% if user.is_authenticated %}
			<div class="col-xs-4">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url "mainpage.views.new_thread" section="watches" %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus"></span> New Thread</a></li>
				</ul>
			</div>
		{% endif %}
	</div>
</nav>

<!--Put all information on one row if on xs device-->
<div class="container" id="showAllThreads">
	<div class="row" id="showThreadsHeader">
		<div class="col-sm-10">
			Title / Author
		</div>
		<div class="col-sm-2">
			Replies / Views
		</div>
	</div>
	{% for thread in watch_threads %}
		<div class="row showThreadInfo">
			<div class="col-sm-10">
				<a href="{% url "mainpage.views.show_thread" pk=thread.pk %}"><b>{{ thread.title }}</b></a><br>-<a href="{% url "mainpage.views.show_user" pk=thread.author.pk %}">{{ thread.author }}</a>
			</div>
			<div class="col-sm-2">
				Replies: {{ thread.replies.count }}<br>Views: {{ thread.num_views }}
			</div>
		</div>
	{% endfor %}
</div>

<!--<div id = "sectionMenu"> <a href = "{% url "mainpage.views.new_thread" section="watches" %}"> <p> Threads: {{ num_threads }}; posts: {{ num_posts }} </p> <div id = "newThread"> <p> New Thread </p> </div> </a> </div>
<div id = "threadStats">
		<div id = "showAuthor"> Author </div>
		<div id = "showTitle"> Title </div>
		<div id = "showViews"> Views </div>
		<div id = "showReplies"> Posts </div>
</div>
<div class = "newestThreads">
	{% for thread in watch_threads %}
		<div class = "threadLink">
			<div class = "showAuthorInfo"> {{ thread.author }} </div>
			<div class = "showTitleInfo"> <a href = "{% url "mainpage.views.show_thread" pk=thread.pk %}"> {{ thread.title }} </a> </div>
			<div class = "showViewsInfo"> {{ thread.num_views }} </div>
			<div class = "showRepliesInfo"> {{ thread.replies.count }} </div>
		</div>
	{% endfor %}
</div>
<div id = "showMoreThreads"> Show more </div>-->

{% endblock content %}